# Dependency
node_modules

# Diagnostic
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Cache
.npm

# Environment
.env
.env.*
!.env.example

# Build
dist/
build/

# Temp
*.tmp
*.tmp.*
tmp/
temp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# MacOS
._*
.DS_*
.DS_Store
.DS_Store?
.Trashes
Thumbs.db
